
prudential/python/.idea/.name

prudential/python/.idea/encodings.xml

prudential/python/.idea/misc.xml

prudential/python/.idea/modules.xml

prudential/python/.idea/python.iml

prudential/python/.idea/vcs.xml

prudential/R/.RData

prudential/R/.Rhistory

prudential/python/data/train_mini.pkl

prudential/python/main/model.pkl

*.pper

prudential/R/.Rproj.user/96052885/saved_source_markers

prudential/R/.Rproj.user/96052885/sdb/per/t/19B1710C

prudential/R/.Rproj.user/96052885/sdb/per/t/F4B18620

prudential/R/.Rproj.user/96052885/sdb/prop/8C823B39

prudential/R/.Rproj.user/96052885/sdb/prop/C16396E

prudential/R/.Rproj.user/96052885/sdb/prop/E8A1A850

prudential/R/.Rproj.user/96052885/sdb/prop/EBE017C7

prudential/R/.Rproj.user/96052885/sdb/prop/INDEX

prudential/R/from_pylearn2/test.csv

prudential/R/out/out_20151129_1.csv

*.Rproj

prudential/R/submit/20151217_1.csv
.Rproj.user

python/NeuralNetwork/data/*.*
