prudential/python/.idea/*
prudential/R/.RData
prudential/R/.Rhistory
prudential/python/data/train_mini.pkl
prudential/python/main/model.pkl
prudential/python/data/*.*
*.pper
prudential/R/.Rproj.user/*
prudential/R/from_pylearn2/test.csv
prudential/R/out/out_20151129_1.csv
*.Rproj
prudential/R/submit/20151217_1.csv
.Rproj.user
python/NeuralNetwork/data/*.*
R/.RData
R/.Rhistory
